* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav_descueto {
    height: 2rem;
    background: #D1891C;
    padding: 0.35rem 4.19rem;
}

.div_descuento {
    color: #333;
    font-size: 1rem;
    font-style: normal;
    font-weight:normal;
    line-height: normal;
}

.nav_titulo {
    height: 5.063rem;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #00669F;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 4.19rem;
}

.div_titulo {
    color: #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}